select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

 .altmenubb
 {
    outline:none;
    background-color: #1b9498;
    min-width:100px;
    height:30px;
    margin-right:-2px;  
    margin-left:0px; 
    margin-top:8px;
    margin-bottom:12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px; 
 }
  .altmenubb:hover
 {
     outline:none;
    background-color: #0c6265;
 }
 .menuby
 {
    width:50px;
    height:10px;
    font-size: 12px;
    margin-left:5px;
    margin-top: 0;
    color:white;
    font-weight: 700;
 }
 .menubs
 {
    margin-top: -2px;
    margin-left: -9px;
    float: left;
    padding:10px; 
    border-radius: 50%;
    vertical-align:middle;
    height:1%;
    width:10px;
    background-color:transparent; 
    display:inline-block;
 }
 .menubox2
{
    border-color: #186ef1;
    border-width:0.1px;
    outline:none;
    float:right; 
    position:relative;
    border-top-left-radius: 4px;
    width:30px;
    height:30px;
    margin-left: 1px;
    margin-top:0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px; 
    background-color:transparent;
}
.menubox
{
    border-color: #186ef1;
    border-width:0.1px;
    outline:none;
    float:right; 
    border-top-left-radius: 4px;
    width:30px;
    height:30px;
    margin-left: 1px;
    margin-top:10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px; 
    background-color:transparent;
}
 .menubb
 {
    outline:none;
    background-color:#186ef1;
    width:86px;
    height:35px;
    margin-right:-2px; 
    margin-top:10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px; 
 }
 .menuby:hover
 {


 }
 .menubya:hover
 {


 }
 .menubb:hover
 {
    outline:none;
    background-color:#0b3779;
   

 }
 .menubya
 {
    width:50px;
    height:10px;
    font-size: 12px;
    margin-left:5px;
    margin-top: 5%;
    color:white;
    font-weight: 700;
 }
 .menubsa
 {
    margin-top: 0px;
    margin-left: -9px;
    float: left;
    padding:10px; 
    border-radius: 50%;
    vertical-align:middle;
    height:1%;
    width:10px;
    background-color:transparent; 
    display:inline-block;
 }
 #overlay {
        position: fixed;
        background: url('../img/rolling.gif') no-repeat center center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .hide {
        display: none;
    }


body{
	background-color: white;
    color:black;
}
